

body{
    background-image: url('../../assets/img/backgroud.png');
}

#header{
    background-color:#181365;
}

.value {
    display: inline-block;
    overflow: hidden;

    width: 16px;
    height: 23px;

    font-size: 12px;
    line-height: 23px;
    text-indent: -9999em;

    color: #fff;
    background: url("../img/number.png") no-repeat 0 0;
}
.valueActive {
    display: inline-block;
    overflow: hidden;

    width: 16px;
    height: 23px;

    font-size: 12px;
    line-height: 23px;
    text-indent: -9999em;

    color: #fff;
    background: url("../img/number-hover.png") no-repeat 0 0;
}

/** main **/
#main > div,
#main {
    display: flex;
}

#main {
    padding: 40px 20px 20px;
    justify-content: space-between;
}
.left {
    width: 78.1%;
    /*height: 100%;*/
    flex-direction: column;
    justify-content: space-between;
}
.row-left-main {
    height:63.02%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.right {
    flex-direction: column;
    justify-content: space-between;
    width: 19.46%;
    /*height:100%;*/
}

.row-right-top,
.row-left-top > ul,
.row-left-buttom,
.row-left-center {
    display:flex;
}

.row-left-top {
    height: 20.1%;
}
.row-left-top li h3 {
    font-size: 2em;
    font-weight: 500;
    color: #fff;
}
.row-left-top li {
    display: flex;
    position: relative;
    flex-flow: column;
}
.row-left-top li p {
    text-align: right;
}
.row-left-top li > p > img {
    position: relative;
    top: -1px;

    margin: 0 0 0 .5em;
    width: 10px;
    height: 12px;
}
.row-left-top li > div {
    position: absolute;
    bottom: -10%;

    width: 100%;

    text-align: center;
}
.row-left-top li > div > img {
    width: 30px;
}

.row-left-top-number {
    display: block;
    font-size: 300%;
    font-weight: 600;
}
.row-left-top-little {
    color: #fff;
}
.row-left-center {
    height: 76.66%;
    justify-content: space-between;
}

.row-left-top > ul {
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.row-left-top-ul-third {
    color: #120f44;
}
.row-left-top > ul > li.active{
    background: #0c59b2;
    border: none;
}
.row-left-top > ul > li.active:before{
    border: 8px solid;
    margin-left: -8px; /*跟border宽度有关系*/
    margin-bottom: -16px; /*跟border宽度有关系*/
    border-color: #0c59b2 transparent transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left:50%;
    bottom: 0;
}

.row-left-top > ul > li {
    border: 1px solid #005cc3;
    border-radius: 6px;
    padding: .5em;
    width:19.32%;
    justify-content: space-between;
    background: #120f44;
}

.row-left-center-left {
    background: rgba(25,255,0,.1); /*test*/
    position: relative;
}
.row-left-center-right {
    width: 71.88%;
    background: rgba(25,255,0,.1); /*test*/

}
.row-left-center-pie {
    height: 100%;
    min-height: 100px;
}
.row-left-center-font {

     position: absolute;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: -31px;
    margin-left: -40px;
    color: #fff;
}


.row-left-center-font p {
    padding: 8px 20px;
}

.row-left-buttom,
.row-right-buttom {
    height: 31.67%;
}
.row-left-buttom{
    justify-content: space-between;
}
.row-left-buttom .title {
    position: relative;
    top: 10%;
    left: 6%;

    border-left: 3px solid rgb(0, 92, 195);
    padding-left: 10px;

    font-size: 18px;

    color: white;
}
.row-left-center-left,
.row-left-buttom-first {
    width: 24.75%;
}
#row-left-center-right{
    margin:0;
    width: 100%;
    height: 100%;
}

.row-right-buttom{
    display: flex;
    width: 100%;
}
.row-right-buttom .panel,
.row-left-buttom .panel{
    width: 100%;
    height: 100%;
}
.row-right-buttom .title {
    position: relative;
    top: 10%;
    left: 6%;

    border-left: 3px solid rgb(0, 92, 195);
    padding-left: 10px;

    font-size: 18px;

    color: white;
}

.row-left-buttom-second {
    width: 33.94%;
}
.row-left-buttom-third{
    width:34.28%;
}
.panel {
    position: relative;
}
.head {
    position: absolute;
}
/*@media screen and (min-width: 800px) and (max-width: 1400px){
    .row-left-top-number {
        padding: 1em .5em 0 0;

        font-size: 2em;
    }
    .row-left-top-little {
        font-size: 1em;
    }
        .row-left-top li h3 {
        font-size: 2em;
        font-weight: 500;
        color: #fff;
    }
}*/
/*@media (max-height:  900px) {
    .row-left-top-number {
        padding: .5em .5em 0 0;

        font-size: 2em;
    }
    .row-left-top li h3 {
        font-size: 1em;
    }
    .row-left-top-little {
        font-size: 1em;
    }
}*/
/*@media (max-width: 1400px) and  (max-height:  900px) {
    .row-left-top li h3 {
        font-size: 1em;
    }
}*/
/*** end rowleft ***/
/*** rowright ***/
.row-right-top {
    flex-direction: column;
}

.row-right-top {
    /*margin: 2em 2em 1em 2em;*/
    /*border-radius: 6px;*/
    height: 63.02%;
}
.row-right-top .panel{
    position: relative;
    height:100%;
    margin: 0;
}
.row-right-top > p {
    margin: 1em 0 .5em 0;
    height: 42px;

    font-size: 198%;
    line-height: 42px;
    /* border-left: 4px solid #229be6; */

    color: #fff;
}
.row-right-top > p > span {
    margin: 0 1em;

    background-color: #229be6;
}
.row-right-top ul li,
.row-right-top ul {
    display: flex;
}
.row-right-top ul {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    top: 0px;
    left: 0px;
}
.row-right-top ul li {
    padding-left: 2em;

    align-items: center;
}
.row-right-top ul li img {
    display: block;

    width: 40px;
    height: 40px;
}
.row-right-top ul li div {
    padding-left:1em;

    -webkit-flex: 1;
            flex: 1;
}
.row-right-top-title {
    font-size: 124%;

    color: #fff;
}
.row-right-top-context {
    display:         flex;
    display: -webkit-flex;

    padding: 8px 0;

    color: #229be6;
}
.row-right-top-context-number {
    font-size: 256%;
    font-weight: 600;
}
.row-right-top-context-detial {
    margin: 0 0 0 1em;
    width: 66px;
}


/*!*** end rowright ***!*/
/*!** end main **!*/

@media (max-width: 1400px) and  (max-height:  900px) {
    .row-right-top-context-number {
        font-size: 2em;
    }
    .row-right-top ul li img {
        width: 30px;
        height: 30px;
    }
}
/*2k\高清屏*/
@media (min-width: 1920px) and  (min-height:  1080px) and  (max-width:2560px) and  (max-height:  1250px) {
    .row-left-top li h3 {
        font-size: 2em;
    }
    .row-left-top-number {
        margin: 0.5em 0 0 0;
        /*padding: .5em .5em 0 0;*/

        font-size: 5em;
        font-weight: 600;
    }

    .row-right-top ul li img {
        width: 60px;
        height: 60px;
    }
    .row-right-top-title {
        font-size: 2em;
    }
    .row-right-top-context {
        padding: 1em 0 0 0;

        font-size: 146%;
    }
    .row-left-top li > div {
        bottom: -7%;
    }
    .row-right-top-context-detial {
        width: 38%;
    }
    .row-left-top-little {
        !*padding: 1.5em 1em 0 0;*!
        /*padding: 1em 1em 0 0;*/

        font-size: 200%;
    }
    .row-left-top li > div {
        bottom: -6%;
    }
    .row-left-top > ul > li {
        padding: 2em 0;
    }

    .row-left-top-little {
        font-size: 168%;
    }
    .row-left-top li > p > img {
        width: 15px;
        height: 20px;
    }
    .row-right-top-context-number {
        font-size: 198%;
    }
}

@media (min-height:  1250px)   and  (max-height:  1440px) {
    .value {
        width: 24px;
        height: 34px;
        background: url(../img/number.png) no-repeat 0 0;
        background-size: 34px 600px;
    }
    .valueActive {
        width: 24px;
        height: 34px;
        background: url(../img/number.png) no-repeat 0 0;
        background-size: 34px 600px;
    }
    .row-left-top > ul > li {
        padding: 1em 1em;
    }
    .row-left-top li h3 {
        font-size: 3em;
    }
    .row-left-top-number {
        /*!* margin: 0.5em 0 0 0; *!*/
        /*!*padding: 1em .5em 0 0;*!*/

        font-size: 510%;
    }
    .row-left-top-little {
        /*padding: 1.5em 1em 0 0;*/

        font-size: 226%;
    }
    .row-right-top-context-detial {
        !*margin: 0 0 0 1em;*!
        width: 50%;

        font-size: 200%;
    }
    .row-right-top-context-number {
        font-size: 330%;
        font-weight: 600;
    }
    .row-right-top-context {
        padding: 1.5em 0 0 0;
    }
    .row-right-top ul li img {
        width: 70px;
        height: 70px;
    }
    .row-left-top li > div {
        bottom: -6%;
    }
    .row-right-top-title {
        font-size: 210%;
    }
    .row-left-top li > p > img {
        width: 16px;
        height: 20px;
    }

    .row-right-top > p {
        font-size: 255%;
    }
    .row-left-center-font {
        font-size: 30px;
    }
    .row-left-center-font {
        margin-top: -31px;
        margin-left: -50px;
    }
    .row-left-buttom .title {
        border-left: 6px solid rgb(0, 92, 195);

        font-size: 300%;
    }
}
/*end 2k\高清屏*/

/*超宽4k屏*/
@media (min-width: 3440px) and  (min-height:  1441px) and  (max-width:3841px) and  (max-height:  2160px) {
    .value {
        width: 32px;
        height: 46px;
        background-size: 46px 800px;
    }
    .valueActive {
        width: 32px;
        height: 46px;
        background-size: 46px 800px;
    }
    .row-left-top li > div {
        bottom: -4%;
    }
    .row-left-top > ul > li {
        padding: 1em 1em;
    }
    .row-left-top-number {
 

        font-size: 1000%;
    }
    .row-left-top-little {
        /*padding: 1em 1em 0 0;*/

        font-size: 339%;

        color: #fff;
    }
    .row-left-top li > p > img {
        width: 30px;
        height: 34px;
    }
    .row-left-top li h3 {
        font-size: 400%;
    }
    .row-right-top > p {
        font-size: 398%;
    }
    .row-right-top ul li img {
        width: 90px;
        height: 90px;
    }
    .row-right-top-title {
        font-size: 354%;
    }
    .row-right-top-context {
        padding: 2em 0 0 0;

        font-size: 223%;
    }
    .row-right-top-context-detial {
        width: 40%;

        font-size: 148%;
    }
    .row-left-center-font {
        font-size: 40px;
        margin-top: -55px;
        margin-left: -60px;
    }

    .row-left-center-font p {
        padding: .5em 20px;
    }

    .panel .head h2:before {

        left: -12px;
        top: 2px;
        width: 7px;
        height: 36px;
    }
    .panel .head h2 {

        font-size: 36px;

    }
}
.chart{
    height: 100%;
}

/*end超宽4k屏*/
@media screen and (min-width: 800px) {
    html,
    body {
        height: 100%;
    }

}
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 800px) {
    
    #main {
        display: block;
        padding: 1.5em;
        /*height: 100%;*/
        min-height: 1000px;
    }
    #main,
    .left,
    .right,
    .row-left-center,
    .row-left-top > ul,
    .row-left-buttom,
    .row-left-center{
        flex-direction:column;
    }
    .left,
    .right,
    .row-left-main,
    .row-left-top > ul > li,
    .row-left-center-left,
    .row-left-center-right,
    .row-left-center-left,
    .row-left-buttom-first,
    .row-left-buttom-second,
    .row-left-buttom-third{
        width: 100%;
    }
/*    .row-left-center-left,
    .row-left-center-right{
        min-height: 100px; !*可以修改*!
    }*/
    .left,
    .row-left-top,
    .row-left-center,
    .row-left-main,
    .row-left-buttom,
    .row-right-buttom{
        height: auto;
    }
    .row-left-top > ul > li{
        min-height: 100px; /*可以修改*/
        margin-bottom: 1.5em;
    }
    .row-left-buttom,
    .row-left-center-left,
    .row-left-center-right
    {
        margin-bottom: 1.5em;
    }
    #main > div.left,
    #main > div.right,
    .row-left-main,
    .row-left-buttom,
    .row-right-top
    {
        display: block;
    }
    .row-right-top ul{
        position: static;
        padding: 1em 0;
    }
    .chart,
    .row-left-center-left,
    .row-left-center-right{
        min-height: 100px;
    }
    .row-left-center-font {
        font-size: 10px;
        margin-top: -15px;
        margin-left: -12px;
    }
    .row-left-center-font p {
         padding: 0; 
    }
    #row-left-center-right {
        min-height: 100px;
    }
    .panel .head h2 {
        font-size: 10px;
    }
}
